alias ulocate="sudo updatedb && locate"
alias ll="ls -lA"
alias cp="cp -i" # confirm before overwriting something
alias df="df -h" # human-readable sizes
alias free="free -m" # show sizes in MB
alias np="nano -w PKGBUILD"
alias more="less"
alias xclip="xclip -selection c"
alias pac="sudo pacman --noconfirm"
alias tri="trizen --noedit --noconfirm"

# Dotfile Config
alias config="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
